asgiref==3.7.2
autopep8==2.0.4
Django==3.2.16
djangorestframework==3.15.1
flake8==7.0.0
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
numpy==1.26.4
pep8==1.7.1
Pillow==9.3.0
psycopg2-binary==2.9.9
pyarrow==15.0.0
pycodestyle==2.11.1
pyflakes==3.2.0
pylance==0.10.3
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
